/* Variables css*/
:root{
    /* Colors */
    /* Color mode HSL(hue, saturation, lightness)*/
    /*
        blue    :   hsl(224, 69%, 14%)
        red     :   hsl(0, 100%, 43%)
        gray    :   hsl(0, 0%, 98%)
        green   :   hsl(100, 83%, 41%)
        yellow  :   HSL(52, 100%, 50%)
    */

    --hue: 26;
    --sat: 100%;
    --lig: 50%;

    --brand-color1: hsl(var(--hue), var(--sat), var(--lig)) ;
    --brand-color2: hsl(43,var(--sat), 56%);
    --title-color: hsl(212, 95%, 7%);
    --text-color: hsl(212, 21%, 33%);
    --bg-gradient: linear-gradient(90deg, #FF6E01 0%, #FF870B 100%);
    --container-color: #fff;
    --attention-yellow: hsl(43, var(--sat), 56%);
    --attention-red: hsl(14, var(--sat), var(--lig));
    --attention-green: hsl(120, var(--sat), 36%);
    --attention-blue: hsl(216, var(--sat), 53%);

    /* Font and typography */
    /* .5rem = 8px / 1rem = 16px */
    --body-font: 'Poppins', sans-serif;
    --header: 5.8rem;
    --title: 3.8rem;
    --subtitle: 2.9rem;
    --subtitle-h4: 2.2rem;
    --body-text: 1.9rem;
    --details: 1.6rem;
    --smallest: 1.2rem;

    /* Title center*/

}

/* Responsive typography */
@media only screen and (orientation: portrait)  {
    :root {
        --header: 4.8rem;
        --title: 3.2rem;
        --subtitle: 1.9rem;
        --body-text: 1.6rem;
        --details: 1.2rem;
        --smallest: 1.0rem;
    
    }
}
*,
*::after,
*::before{
    list-style:none;
    text-decoration:none;
    margin:0;
    padding:0;
    text-align:left;
    border:0;
    outline-color:#ccc;
    color: var(--text-color);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: var(--body-font);
    font-display: swap;
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
    direction: ltr;
}
body{
    counter-reset: num;
}
img{
    width: 100%;
    height: auto;
}
h2{
    font-size: var(--title);
}
h3{
    font-size: var(--subtitle);
}
h4{
    font-size: var(--subtitle-h4);
}
p{ 
    font-size: var(--body-text);
}
b{
    font-size: inherit;
}
li{
    font-size: var(--body-text);
}
summary{
    font-size: var(--body-text);
    font-weight: 600;
}
span{
    font-size: inherit;
}

button {
    width: fit-content;
    height: 4rem;
    padding: 0 2rem;
    color: #FFFFFF;
    border-radius: 0.8rem;
    font-size: var(--body-text);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--attention-green);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1.25rem 40px -11px var(--attention-green);
}
button:hover {
    background-color: var(--attention-blue);
    box-shadow: 0px 1.25rem 40px -11px skyblue;
    color: #ffffff;
}
section{
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.container{
    display: grid;
    width: min(100% - 10%, 1216px);
    margin-inline: auto;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.text-center{
    text-align: center;
}
.item{
    padding: 1rem 2rem;
    border-radius: .6rem;
    background-color: #FFFFFF;
}
.grid{
    display: grid;
}

header .container{
    width: 100%;
}
header .container img{
    max-width: max-content;
    max-height: 100vh;
    object-fit: contain; 
}

.s-benefits .container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    background-image: url(../assets/vitamina.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70%;
}
.s-benefits .container .benefits__info h2{
    color: var(--brand-color1);
    text-transform: uppercase;

}
.s-benefits .container .benefits__info p{
    font-size: 1.6rem;
}

.s-benefits .container .benefits__img{
    gap: 1rem;
    align-self: flex-end;
    justify-items: center;
}
.s-benefits .container .benefits__img img{
    max-height: 280px;
    max-width: fit-content;
    object-fit: contain;
}

.s-depoimentos{
    background-color: var(--brand-color1);
}
.s-depoimentos .container h2{
    text-align: center;
    color: #FFFFFF;
}
.s-depoimentos .container h3{
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.s-depoimentos .container .dados{
    font-size: var(--body-text);
}
.s-depoimentos .container .content_depoimentos{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}
.s-depoimentos .container .content_depoimentos .depoimento{
    display: grid;
    grid-template-areas: 
    "texto texto"
    "profile dados";
    gap: 1rem;
}
.s-depoimentos .container .content_depoimentos .depoimento img{
    display: block;
    max-width: max-content;
    height: 64px;
    object-fit: contain;
}
.texto{
    grid-area: texto;
}
.perfil{
    grid-area: perfil;
}
.dados{
    grid-area: dados;
}

.s-oferta .container .header h2{
    text-align: center;
}
.s-oferta .container .header h3{
    text-align: center;
    font-weight: 600;
}
.s-oferta .container .header span{
    color: var(--attention-green);
}
.s-oferta .container .content_price{
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.s-oferta .container .content_price img{
    width: 100%;
    max-height: 562.5px;
    object-fit: contain;
}

.s-garantia {
   background-color: #f2f2f8;
}
.s-garantia .container{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.s-garantia .container .garantia_selo{
    display: block;
    max-width: 280px;
    max-height: 280px;
}
.s-garantia .container .garantia_description mark{
    color: #ffffff;
    background-color: var(--attention-red);
    background-size: contain;
    padding: 0 .3rem;
}


.s-faq .container {
    justify-items: center;
}
.s-faq .container h2 {
    text-align: center;
}
.s-faq .container h3 {
    text-align: center;
}
.s-faq .container .content_faq{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 90%;
}

.s-faq .container .content_faq details summary{
    padding: 1.6rem 1.6rem;
    border-radius: .8rem;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}
.s-faq .container .content_faq details p{
    padding: .8rem 1.6rem;
    border-radius: .8rem;
}

/* Página de obrigado */
.s-banner-obrigado{
    background-color: var(--brand-color1);
}
.s-banner-obrigado .container{
    max-width: 1260px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4rem;
}
.s-banner-obrigado .content_congratulations h2{
    font-size: clamp(4.5rem, 8vw, 6rem);
    text-transform: uppercase;
    color: #FFFFFF;
}
.s-banner-obrigado .content_congratulations h3{
    font-size: clamp(1.4rem, 2vw, 2rem);
    color: #FFFFFF;
    font-weight: 500;
}
.s-banner-obrigado .content_congratulations p{
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    color: #FFFFFF;
    font-weight: 400;
}

footer {
    background-color: var(--brand-color1);
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
}
footer p{
    text-align: center;
    color: #FFF;
    font-size: 1.4rem;
}
footer nav{
    display: grid;
    max-width: 960px;
    justify-self: center;
}
footer ul{
    display: flex;
    gap: 2rem;
}
footer a{
    text-align: center;
    color: #FFF;
    font-size: 1.4rem;
    text-decoration: underline;
}

